*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Martel Sans', sans-serif;
}
button:hover{
    background-color: #ac0505;
}
.showcase{
    width:100%;
    height: 100vh;
    background-image:url(../image/backgroundimg.jpg);
    background-size: max(1200px,100vw);
    position: relative;
    background-size:cover;
    background-position: center;
}
/* shadow-effect */
.showcase::after{
    content: '';
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.1);
    box-shadow: inset 180px 170px 150px rgba(0, 0, 0, 0.7),inset -180px -170px 150px rgba(0, 0, 0, 0.7);
}
/* navigation bar */
nav{
    max-width: 80vw;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
/* netflix logo */
.showcase-nav{
    position:relative;
    z-index: 2;
    height: 90px;
}
.showcase-nav img{
    width: 190px;
    
}
/* Sign In button*/
nav button{
    border:0;
    outline:0;
    background: #db0001;
    color: #fff;
    padding:7px 20px;
    font-size:15px;
    border-radius:4px;
    margin-left: 10px;
    cursor: pointer;
}
/* language button */
.language-btn{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border:1px solid #fff;
    color: #fff;
    padding:7px 20px;
}
.language-btn img{
    width:10px;
    margin-left:10px;

}
.language-btn:hover{
    background-color:transparent ;
}
.language-btn:active{
    border: #fff double 4px;
}
.lang{
    padding-right:2px;
}
/* showcase content*/
.showcase-content{
    position:relative;
    margin:auto;
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:100px;
    padding:30px;
}
.showcase-content h1{
    font-size: 50px;
    font-weight: 900px;
    line-height: 1.1;
    margin:0 0 12px ;
    font-family: 'Montserrat', sans-serif;
}
.showcase-content .line{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
}
.showcase-content p{
    font-size: 18px;
    font-weight: 900px;
    line-height: 1.1;
    margin:0 0 12px ;
}
/*getstarted*/
.email-signup{
    display:flex;
    align-items: center;
    justify-content: center;
}
.email-signup input{
    border: 1px #fff solid;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px; 
    padding: 15px 200px 15px 24px;
    font-size:15px;
    border-radius:4px;
}
.email-signup button{
    display: flex;
    justify-content: space-between;
    border:0;
    outline:0;
    background: #db0001;
    color: #fff;
    font-size:20px;
    padding:15px 24px;
    font-weight: bolder;
    border-radius:4px;
    margin-left: 10px;
    cursor: pointer;
}
#right-arrow{
    fill: #fff;
    padding-left:5px;
}
/*separator*/
.separator{
    height: 0.5em;
    background-color: rgba(171, 166, 166, 0.4);
}
/*features*/
.first{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    max-width: 80vw;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.section-heading{
    font-family:'Montserrat', sans-serif;
    font-size:48px ;
    font-weight: 700;
}
.section-content{
    font-size: 25px;
    font-weight: 100;
    line-height: 2;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 13px;
    right:52px;  
}
/*secound feature*/
/*downloadbox*/
.downloading-box{
    display: flex;
    background-color: #000;
    margin: 0,auto;
    border: gray solid 2px;
    border-radius: 6px;
    max-width: 80%;
}
.downloading-box img{
    width: 80px;
    padding: 10px;
}
.downloading-content{
    line-height: 30px;
}
.downloading-box p{
    padding-top: 30px;
    padding-left: 2px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 14px;
}
.downloading-box .download{
    padding-top:0px ;
    font-size: 12px;
    color: #0000ff;
}
.icon{
    max-width: 40%;
    max-height:20%;
}
/*third*/
.secImg2{
    position: relative;
}
.secImg2 img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg2 video{
    position: absolute;
    bottom:48px;
    right:70px;  
}
/*FAQ*/
.faq{
    padding: 34px;
}
.faq h2{
    text-align: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
}
.box{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    max-width: 80%;
    margin:auto;
    margin-bottom: 10px;
    background-color: rgba(37, 36, 36, 0.957);
}
.box p{
    font-size: 20px;
}
#plus{
    width: 35px;
    fill:#fff;
}
/*footer*/
footer{
    padding:50px 15% 10px;
    color: #949393;
}
footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
footer .row{
    display: flex;
    align-items: flex-start;
    padding:10px 0px;
}
footer .column{
    flex-basis: 25%;
    flex-grow: 1%;
    margin-bottom: 0;
    padding-bottom: 5px;
}
footer .column a{
    display: block;
    color: #949393;
    font-size: 14px;
    margin-bottom: 4px;
}
footer p{
    font-size: 13px;
    padding-top: 5px;
}
